.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1f55b3;
    display:flex;
    align-items: center;
    position: sticky;
    top:0;
}

.topbarLeft {
  flex:3;
  //background-color:red; for see the size
}

.topbarCenter {
    flex:5;
    //background-color:orange;for see the size
  }

  .searchbar {
    width: 100%;
    height: 30px;
    background-color:white;
    border-radius:20px;
    display:flex;
    align-items:center;
  }

  .searchIcon{
      font-size:25px !important; // pour appliquer un style a un material icon il faut mettre le important
      margin-left: 10px;
  }

  .searchInput {
    border: none !important;
    width:70%;
    
  }

  .searchInput:focus{
      outline:none;
  }

  .topbarRight {
    flex:4;
    //background-color:green;for see the size
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }


  // top bar container sera divisé en 12 parties , 3 seront pour left, 5 pour center et 4 pour right
  // on peut diviser le container en autant de parties qu'on veut

  .topbarlink {
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
  }

  .topbarIcons {
    display:flex;
  }

  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }

  .topbarIconBadge {
    width: 15px;
    height:15px;
    background-color:red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:12px
  }

  .topbarImg {
    width: 3rem;
    height: 3rem;
  }

  .logo{ 
      font-size:2rem;
      color: white;
      font-weight:bold;
      margin-left: 20px;
      cursor: pointer;
  }

  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; // cover all his containers
    cursor: pointer;
  }