.rightBar {
  flex: 3.5; // on peut donner en % aussi
}

.rightBarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
  margin-left: 15px;
}

.rightBarTitle {
  margin-bottom: 20px;
}

.rightBarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}



.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightBarProfileiImg {
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}



.rightBarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightBarInfo {
  margin-bottom: 30px;
}

.rightBarInfoItem {
  margin-bottom: 10px;
}

.rightBarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightBarInfoValue {
  font-weight: 300;
}

.rightBarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightBarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor:pointer;
}

.rightBarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit:cover;
  border-radius: 5px;
}

